@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 

* {
  margin: 0;
  padding: 0;
  color: #32373B;
  font-family: 'Inter', sans-serif;;
}

body {
  background-color: #859899;
}

/* General Tab Styling */

/* .info {
  font-size: 17px;
}

.info p {
  margin-bottom: 5px;
}

.mainSection {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
}

.continueButtons {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}

.button {
  background-color: #9fb6b8;
  border: 1px solid #859899;
  border-radius: 4px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  cursor: default;
}

.button:hover {
  background-color: #a5bcbe;
}

.button:active {
  background-color: #acc5c7;
} */

/* Loading animation */

/*
.loaderPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 100;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border: 5px solid #d1d1d1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} */